### Flood disaster dataset

Extração dos dados do dataset (código dado pelo próprio site):

In [28]:
import mlcroissant as mlc
import pandas as pd

# Fetch the Croissant JSON-LD
croissant_dataset = mlc.Dataset('https://www.kaggle.com/datasets/emanfatima2025/flood-disaster-data/croissant/download')

# Check what record sets are in the dataset
record_sets = croissant_dataset.metadata.record_sets
print(record_sets)

# Fetch the records and put them in a DataFrame
record_set_df = pd.DataFrame(croissant_dataset.records(record_set=record_sets[0].uuid))

#Faço uma limpesa nos nomes dos atributos que estavam da seguinte maneira "urban_pluvial_flood_risk_dataset.csv/city_name"
record_set_df.columns = record_set_df.columns.str.replace(r'^.*\/', '', regex=True)


record_set_df.head()

WARNING:absl:WARNING: The JSON-LD `@context` is not standard. Refer to the official @context (e.g., from the example datasets in https://github.com/mlcommons/croissant/tree/main/datasets/1.0). The different keys are: {'rai', 'examples', 'samplingRate'}
WARNING:absl:Found the following 2 warning(s) during the validation:
  -  [Metadata(Flood disaster data)] Property "http://mlcommons.org/croissant/citeAs" is recommended, but does not exist.
  -  [Metadata(Flood disaster data)] Property "https://schema.org/datePublished" is recommended, but does not exist.

[RecordSet(uuid="urban_pluvial_flood_risk_dataset.csv")]

,segment_id,city_name,admin_ward,latitude,longitude,catchment_id,elevation_m,dem_source,land_use,soil_group,drainage_density_km_per_km2,storm_drain_proximity_m,storm_drain_type,rainfall_source,historical_rainfall_intensity_mm_hr,return_period_years,risk_labels
0,b'SEG-00001',"b'Colombo, Sri Lanka'",b'Borough East',b'6.920633',b'79.9126',b'CAT-136',NaN,b'Copernicus_EEA-10_v5',b'Institutional',None,4.27,160.5,b'CurbInlet',b'ERA5',39.4,50,b'monitor'
1,b'SEG-00002',"b'Chennai, India'",b'Ward D',b'13.076487',b'80.281774',b'CAT-049',-2.19,b'Copernicus_EEA-10_v5',b'Residential',b'D',7.54,NaN,b'OpenChannel',b'ERA5',56.8,25,b'ponding_hotspot|low_lying|event_2025-05-02'
2,b'SEG-00003',"b'Ahmedabad, India'",b'Sector 12',b'23.019473',b'72.638578',b'CAT-023',30.88,b'SRTM_3arc',b'Industrial',b'B',11.00,152.5,b'OpenChannel',b'IMD',16.3,5,b'monitor'
3,b'SEG-00004',"b'Hong Kong, China'",b'Sector 14',b'22.302602',b'114.078673',b'CAT-168',24.28,b'SRTM_3arc',b'Residential',b'B',7.32,37.0,b'Manhole',b'ERA5',77.0,10,b'monitor'
4,b'SEG-00005',"b'Durban, South Africa'",b'Sector 5',b'-29.887602',b'30.911008',b'CAT-171',35.70,b'SRTM_3arc',b'Industrial',b'C',4.50,292.4,b'OpenChannel',b'ERA5',20.8,5,b'monitor'

In [29]:
# Extraindo a quantidade de regitros e atributos que foi pedido no documentos
record_set_df.shape

(2963, 17)

In [ ]:
#Retiro duas colunas das desessete para fazer as vericações
record_set_df = record_set_df.drop(columns=["dem_source", "rainfall_source"])

# Extração dos nomes das colunas (Atribultos)
record_set_df.columns

Index(['segment_id', 'city_name', 'admin_ward', 'latitude', 'longitude',
       'catchment_id', 'elevation_m', 'land_use', 'soil_group',
       'drainage_density_km_per_km2', 'storm_drain_proximity_m',
       'storm_drain_type', 'historical_rainfall_intensity_mm_hr',
       'return_period_years', 'risk_labels'],
      dtype='object')

In [30]:
#Extração dos tipos das colunas
record_set_df.dtypes

segment_id                              object
city_name                               object
admin_ward                              object
latitude                                object
longitude                               object
catchment_id                            object
elevation_m                            float64
dem_source                              object
land_use                                object
soil_group                              object
drainage_density_km_per_km2            float64
storm_drain_proximity_m                float64
storm_drain_type                        object
rainfall_source                         object
historical_rainfall_intensity_mm_hr    float64
return_period_years                      int64
risk_labels                             object
dtype: object

In [11]:
#Verificação dos atributos com dados faltantes

record_set_df.isna().sum()

segment_id                               0
city_name                                0
admin_ward                               0
latitude                                 0
longitude                                0
catchment_id                             0
elevation_m                            161
land_use                                 0
soil_group                             362
drainage_density_km_per_km2            284
storm_drain_proximity_m                239
storm_drain_type                       178
historical_rainfall_intensity_mm_hr      0
return_period_years                      0
risk_labels                              0
dtype: int64

In [31]:
#Extração das colunas:

tabela = pd.DataFrame([
    ["segment_id", "Numérico/Texto (""SEG-00001"")", "Identificador único de cada segmento", "-", "Não"],
    ["city_name", "Categórico", "Nome da cidade onde o dado foi coletado", "-", "Não"],
    ["admin_ward", "Categórico", "Divisão administrativa da cidade", "-", "Não"],
    ["latitude", "Numérico (float)", "Latitude do ponto", "graus", "Não"],
    ["longitude", "Numérico (float)", "Longitude do ponto", "graus", "Não"],
    ["catchment_id", "Numérico/Texto (""CAT-136"")", "Identificador da bacia de drenagem", "-", "Não"],
    ["elevation_m", "Numérico (float)", "Elevação do terreno", "m", "Sim"],
    ["land_use", "Categórico", "Uso do solo na área (residencial, comercial etc.)", "-", "Não"],
    ["soil_group", "Categórico", "Tipo ou classificação do solo", "-", "Sim"],
    ["drainage_density_km_per_km2", "Numérico (float)", "Densidade de drenagem", "km/km²", "Sim"],
    ["storm_drain_proximity_m", "Numérico (float)", "Distância até o ponto de drenagem pluvial mais próximo", "m", "Sim"],
    ["storm_drain_type", "Categórico", "Tipo de infraestrutura de drenagem pluvial", "-", "Sim"],
    ["historical_rainfall_intensity_mm_hr", "Numérico (float)", "Intensidade histórica de chuva", "mm/h", "Não"],
    ["return_period_years", "Numérico (Int)", "Período de retorno de eventos extremos", "anos", "Não"],
    ["risk_labels", "Categórico", "Rótulo de risco de inundação", "-", "Não"],
], columns=["Nome da variável", "Tipo", "Descrição", "Unidades", "Valores faltantes"])

conteudo_md = f"""# Metadados do Conjunto de Dados: Flood Disaster  
**Número de variáveis: 17**
**Número de registros: 2963
{tabela.to_markdown(index=False)}"""

with open("../references/flood_disaster_data_metadata.md", "w", encoding="utf-8") as f:
    f.write(conteudo_md)